body{
    background-color: #bfbfbf
}

.web-title {
    margin: auto;
    font-weight: bold;
    text-align: left;
    font-size: 2em;
}

/* Style the tab */
.tab {
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    padding-top: 7px;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    font-weight: bold;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #4287f5;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #4287f5;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  .dropbtn {
    background-color: #4287f5;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top: 100%;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #4287f5;}

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  